@page
@{
    ViewData["Title"] = "OrdenNoEncontrada";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Orden No Encontrada</h1>


<h1 style="color:red">La Orden que está intentando consultar no existe</h1>

<a class="btn btn-primary" asp-page="./RegistroOrdenRep">Ir a Listado de Órdenes</a>
