@page
@{
    ViewData["Title"] = "VehiculoNoEncontrado";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Vehiculo No Encontrado</h1>

<h1 style="color:red">El vehículo que esta intentando consultar no existe</h1>

<a class="btn btn-primary" asp-page="./RegistroVehiculos">Ir a Listado de Vehículos</a>
